<p>
  Hello <%= @c.custFirstName %>,
</p>

<p>
  The invoice for <%= @j.jobTitle %> can be viewed and paid at <a href="<%= "http://tonyhvac.herokuapp.com/jobs/#{@j.id}"%>" /><%= "http://tonyhvac.herokuapp.com/jobs/#{@j.id}"%></a>
</p>

<p>
  Thanks so much!
</p>
  