.jumbotron
  .container
    %h1 Welcome!
    %p
      This is the all new online portal for Tony's HVAC. If you are interested in creating
      a new order, please get started by clicking the link below.
    %p
      %a.btn.btn-primary.btn-lg{:href => "/customers/sign_up", :role => "button"} New Customer? &raquo;
.container
  / Example row of columns
  .row
    .col-md-4
      %h2 
        HVAC &nbsp;
        %i.fa.fa-fire
      %p
        Contact Tony HVAC to help keep your home or business warm this winter! Whether you’re looking to fix your current system or install a new one, we can provide the services you need to keep your system running in top condition.
    .col-md-4
      %h2 
        Electric &nbsp;
        %i.fa.fa-bolt
      %p 
        Tony HVAC provides top notch electrical services and only employs certified and licensed technicians.  Our electricians can help you with your electrical issues and help protect from risk associated with bad or old wiring.
    .col-md-4
      %h2 
        Plumbing &nbsp;
        %i.fa.fa-life-saver
      %p
        Our lead plumber has over 20 years in the business and is standing by to help you with your plumbing needs. We know that plumbing issues can strike at anytime, and provide flexible scheduling for our services.