.row
  .col-md-12
    %p
      %h2.title
        Jobs
.row
  .col-md-12
    %p
      Sort By:
      .btn-group
        
        %a{:href => "/", :class => "btn btn-info"}
          Time Last Updated
        %a{:href => "/jobs_sorted_by_date", :class => "btn btn-info active"}
          Date of Job
    - if Job.order("job_date asc").length > 0
      - Job.order("job_date asc").each do |j|
        = render :partial => "/jobs/admin_job", :locals => {:j => j}