body{
  margin-top: 80px;
}

.customer-name-input{
  margin: 10px 0 30px;
}

.shared-devise-links{
  margin: 20px 0;
}

.one-flash{
  margin: 10px 0;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #4caf50;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #4caf50;
}

.alert h6{
  color: #fff;
}

.job-options{
  margin-top: 23px;

  a{
    margin: 0 10px;
    font-size: 2em;
  }
}

.contractor-links a{
  font-size: 2em;
  margin: 0 10px;
}

.best_in_place{
  cursor: pointer;
}

.simple_form{
  .control-group{
    margin: 10px 0;
  
    &:first-child{
      margin-top: 0;
    }
  }

}

.u-mt10{
  margin-top: 10px;
}

.u-mt30{
  margin-top: 30px;
}

.u-bt10{
  margin-bottom: 10px;
}

.alert-chill{
  background-color: #CFEEDC;
  border-color: #61B082;
  color: #61B082;
}

.new_item_detail{
  display: none;
}

.alert{
  border-radius: 0;
  opacity: .5;
}

.send-invoice-wrap .edit_job{
  display: none;
}

.box{
  min-height: 120px;
  padding: 25px;
  border: 1px solid #aaa;

  span{
    float: left;
    margin: 0px 10px 0 0;
  }

  h3{
    font-size: 20px;
  }
}

.alert-alert{
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}

